body {

}
input {
  font-size: 24px;
}

input[type=text] {
  color: #424547;
  border: 1px solid #c2c2c2;
  background-color: white;
}

em {
  font-style: normal;
  font-weight: bold;
  color: black;
}

#messagesDiv {
background-color: white;
overflow: auto;
padding: 10px;
border: 1px solid #424547;
margin: 0px 9px 3px;
text-align: left;
position: absolute;
right: 0px;
}
#maincontainer{position:relative;margin: 60px 10px;}
#chatroomheadr{
	height: 65px;
	background: grey;
	margin-bottom: 19px;
}
#title{
	font-family: helvetica;
	font-size: 20px;
	margin-top: 10px;
}
#authorthumbnail{
	margin-top: 10px;
}
#authorname{
	font-family: helvetica;
	margin-top: 10px;
}
#views{
	font-family: helvetica;
	margin-top: 10px;
}
#nameInput {
  
}

#messageInput {
  
}​