<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>Youtube Tuki Chat</title>
    <link rel="icon" href="/static/favicon.png" sizes="16x16" type="image/png"/>
    <meta name="description" content=""> 
    <meta name="keywords" lang="en-us" content=""> 
    <meta property="og:title" content="Youtube chat"/>
    <meta property="fb:app_id" content=""/>
    <meta property="fb:admins" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:type" content="website"/>
    <link rel="stylesheet" href="/css/tuki.css?bbv=2012271216"/>

    <script src="/lib/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script src="http://static.firebase.com/v0/firebase.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/fb.js"></script>
    <script src="/js/tuki.js"></script>
  </head>
  <body style="display:none"> 
    <div id="fb-root"></div>
    <script src="http://code.angularjs.org/angular-1.0.0rc5.min.js"></script>
    <div class="fbmodal modal hide" data-backdrop="static">
      <div class="modal-body"><div class="fbcnt btn btn-info">please connect</div></div>
    </div>
    <div class="roomodal modal hide" data-backdrop="static">
      <div class="modal-body">
	<div class="roomsbtn btn btn-info">my rooms</div>
	<div class="newbtn btn btn-info">NEW room</div>
      </div>
    </div>
    

	<!--  Chat room html    -->

		<div class="navbar navbar-inverse navbar-fixed-top">
		      <div class="navbar-inner">
		        <div class="container-fluid"> <!-- header container-->
						<div id="participants" class="span9"></div>
						<div id="inviteparticipantsbutton"class="span3"></div>
		        </div>
		      </div>
		</div>
	
		<div class="container-fluid" id="maincontainer"> <!-- content container-->
			<div class="row-fluid">
				<div class="span9">
					<div id="videowindow">
						<div id="embedvideo"></div>
						<div id="title"></div>
						<div id="authorthumb">
							<img class="authorthumbnail" id="authorthumbnail" src="">
						</div>
						<div id="authorname"></div>
						<div id="views"></div>
					</div>
				</div>
				<div class="span3">
					<div id="chatwindow">
						{% verbatim %}
					    <div ng-app ng-controller="chatController">
     <div class="textspan"> online:</div>
      <div ng-repeat="who in whoz" class="whoinwhoz">
	<span><img src="//graph.facebook.com/{{who.fbid}}/picture" /></span>
      </div>
        <div id="messagesDiv" class="span4 messagesDiv">
							<div ng-repeat="message in messages">
              
              
	  <!-- <em><img src="//graph.facebook.com/{{message.fbid}}/picture" />{{message.text}}</em> -->
              <em>
                <div class="msg-author">{{message.name}}: <span class="msg-time">3:33pm</span></div>
                <div class="msg-text">{{message.text}}</div>
                <hr noshade size="1"/>
              </em>
							</div>
					      </div>
					      <form ng-submit="addMessage()">
					      	<input id="messageInput"  placeholder="Message" ng-model="text"/>
                  <!-- <textarea rows="3" id="messageInput" placeholder="Message" ng-model="text"></textarea> -->
                  <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
					      </form>
					    </div>
						{% endverbatim %}
					</div>
				</div>
			</div>	
		</div>
    
    <!-- <div class="downloadalert">
	 <div class="closedownloadbaroverlay">×</div>
	 <strong>Get the right videos for you - handpicked, everyday!</strong>
	 <button type="button" class="mvu_addtochrome">Add to Chrome</button>
    </div> -->

  </body>
</html>
