<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>Youtube Tuki Chat</title>
    <link rel="icon" href="/static/favicon.png" sizes="16x16" type="image/png"/>
    <meta name="description" content=""> 
    <meta name="keywords" lang="en-us" content=""> 
    <meta property="og:title" content="Youtube chat"/>
    <meta property="fb:app_id" content=""/>
    <meta property="fb:admins" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:type" content="website"/>
    <link rel="stylesheet" href="/css/tuki.css?bbv=2012271216"/>
    <script src="/lib/utils.js"></script>
    <script src="/lib/jquery.min.js"></script>
	  <script src="/js/tuki.js"></script>
  </head>
  <body> 
      <div id="fb-root"></div>
  		<script src="http://static.firebase.com/v0/firebase.js"></script>
  		<script src="http://code.angularjs.org/angular-1.0.0rc5.min.js"></script>
  	    
  		


    <script>
      window.fbAsyncInit = function() {
      // init the FB JS SDK
      FB.init({
      appId      : '468546183182071',
   status: true,
   cookie: true,
   xfbml: true
      });
      // Additional initialization code such as adding Event Listeners goes here
      };

      // Load the SDK's source Asynchronously
      // Note that the debug version is being actively developed and might 
      // contain some type checks that are overly strict. 
      // Please report such bugs using the bugs tool.
      (function(d, debug){
      var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
      ref.parentNode.insertBefore(js, ref);
      }(document, /*debug*/ false));
    </script>

    {% verbatim %}
    <div ng-app ng-controller="chatController">
      <div id='messagesDiv'>
	<div ng-repeat="message in messages">
	  <em>{{message.name}}: {{message.text}}</em>
	</div>
      </div>
      <form ng-submit="addMessage()">
	<input id='nameInput' type='text' placeholder='Name' ng-model="name"/>
	<input id='messageInput' type='text' placeholder='Message' ng-model="text"/>
	<input type="submit" id="submit" value="Send"/>
      </form>
    </div>
    {% endverbatim %}
    <!-- <div class="downloadalert">
	 <div class="closedownloadbaroverlay">×</div>
	 <strong>Get the right videos for you - handpicked, everyday!</strong>
	 <button type="button" class="mvu_addtochrome">Add to Chrome</button>
    </div> -->

  </body>
</html>
